input[type="text"] {
  color: rgb(255, 0, 0);
  background-color: rgb(151, 179, 206);
}
input[type="password"] {
  background-color: pink;
}
a[href *= "https://www.google.com/"]{
  color: rgb(64, 20, 209);
}
 a[href= "https://www.google+uk"]{
    color: rgb(60, 45, 129);
} 
input[type="button"]{
 background-color: rgb(188, 180, 180);
 
}