

body{
    background-color: #001c2d;
    min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    
}
#box{

    height: 350px;
    width: 400px;
    background-color: white;
     margin-top: 125px;
    border-radius: 5px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
    
    
}
#logo{
    height: 50px;
    width: 80px;
    margin-left: 140px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5px;
}
#heading{
    margin-top: -30px;
    margin-left: 80px;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

input{
    width:390px;
    height: 50px;
    border-radius: 10px;
    
    
}  

#field1{
    margin-bottom: 15px;
}
p{
    font-size:medium;
    margin-top: -10px;
   margin-left: 3px;
    font: 0.9rem Sans Serif;
    margin-bottom: 25px;
}
a{
    
    color: black;
    margin-bottom: 20px;

}
#pswrd{
    margin-top: 15px;
    
}
button{
    margin-top: 10px;
    height: 50px;
    width:390px;
    margin-left: 6px;
    border-radius: 10px;
    font:bold;
   background-color: red;
   border: red solid ;
   color: white;
}