h1 {
  border: solid gray;
  text-align: center;
  background: rgb(183, 180, 180);
}
MAIN {
  border: solid 2px;
  padding: 20px;
  font-size: 13px;
}
section {
 margin: 20px;
 margin-left:-2px ;
 margin-right: -2px;
  border: solid 2px;
  padding: 40px;
  padding-right: 60px;
  font-size: 12px;

}
